.figureTool {
    display: flex;
    flex-direction: column;
}

.toolBtn {
    margin-top: 11px;
    height: 36px;
    width: 36px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.toolBtn:hover {
    opacity: 0.9;
    background-color: #9BC3A078;
}

.toolBtn:active {
    opacity: 0.7;
}

.toolBarToolPencil,
.toolBarToolBucket{
    width: 30px;
    height: 27px;
    opacity: 0;
    cursor: pointer;

}

.toolBtn:nth-child(3) {
    background-image: url(../../../assets/colorImg.svg);
    background-repeat: no-repeat;
}

.toolBtn:nth-child(2) {
    background-image: url(../../../assets/borderImg.svg);
    background-repeat: no-repeat;
}