.text {
    position: absolute;
    border: none;
    background-color: transparent;
    resize: none;
    overflow: hidden;
}

textarea {
    width: 250px;
    height: 70px;
}

.checked {
    border: 1px solid;
    resize: both;
    overflow: hidden;
}

.abs {
    position: absolute;
}