.text {
    position: absolute;
    border: none;
    background-color: transparent;
    resize: none;
    overflow: hidden;
}

.checked {
    background-color: rgba(137, 228, 176, 0.564);
    resize: both;
    overflow: hidden;
}

.abs {
    position: absolute;
}